<form action="/figures" method="post">

 <h2>Name:</h2> <input type="text" id="figure_name" name="figure[name]">

 <p>Titles:</p><input type="text" id="new_title" name="title[name]"><br>
               <%@titles.each do |title|%>
                 <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input><br>
               <% end %>

 <p>Landmarks:</p><input type="text" id="new_landmark" name="landmark[name]"><br>
                 <%@landmarks.each do |landmark|%>
                   <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input><br>
                 <% end %>

  <button type="submit" value="submit">Create New Figure</button>
</form>
